@model AjaxCleaningHCM.Domain.DTO.MasterData.Response.MenuBuilderResponseDtos
@{
    Layout = "_Default";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<div class="card p-0">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <ul class="nav nav-tabs " id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link custom-nav active" id="pills-MenuBuilder-tab" data-toggle="pill" href="#pills-MenuBuilder" role="tab" aria-controls="pills-MenuBuilder" aria-selected="true">Category Table View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav" id="pills-MenuBuilder-tree-tab" data-toggle="pill" href="#pills-MenuBuilder-tree" role="tab" aria-controls="pills-MenuBuilder-tree" aria-selected="false">Category Tree View</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card-body">


        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-MenuBuilder" role="tabpanel" aria-labelledby="pills-MenuBuilder-tab">
                <div style="min-height:570px;">
                    <div class="table-responsive">
                        <table id="table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        No
                                    </th>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        Code
                                    </td>
                                    <td>
                                        Category
                                    </td>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 0;
                                }
                                @foreach (var item in Model?.MenuBuilderDtos?.ToList())
                                {
                                    index++;
                                    <tr>
                                        <td>@index</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LinkText)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LinkUrl)
                                        </td>
                                        <td>
                                            @if (item.ParentId != null)
                                            {
                                                @Model?.MenuBuilderDtos?.Where(i => i.Id == item.ParentId)?.FirstOrDefault()?.LinkText
                                                ;
                                            }
                                            else
                                            {
                                                <span>Root</span>
                                            }
                                        </td>

                                        <td>
                                            <div class="action-icons">
                                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit text-info"></i></a> |

                                                <a asp-action="Delete" data-toggle="modal" data-target="#deletedid-@item.Id">
                                                    <i class="fas fa-trash text-danger">
                                                    </i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="deletedid-@item.Id" tabindex="-1" role="dialog" aria-labelledby="@item.Id" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">

                                                <div class="modal-body">
                                                    <div class="swal2-header">
                                                        <ul class="swal2-progress-steps" style="display: none;"></ul><div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;">
                                                            <span class="swal2-x-mark">
                                                                <span class="swal2-x-mark-line-left"></span>
                                                                <span class="swal2-x-mark-line-right"></span>
                                                            </span>
                                                        </div><img class="swal2-image" style="display: none;"><h2 class="swal2-title" id="swal2-title" style="display: flex;">Are you sure you want to delete this data?</h2><button type="button" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
                                                    </div>

                                                    <div class="swal2-actions">
                                                        <a href="@Url.Action("Delete", "MenuBuilder",new { id = item.Id })" class="btn btn-primary mr-2">
                                                            Yes, delete it.
                                                        </a>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-MenuBuilder-tree" role="tabpanel" aria-labelledby="pills-MenuBuilder-tree-tab">
                <div id="tree" style="min-height:570px;"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    $(function () {
        $.ajax({
            url: "/AjaxCleaningHCM/MenuBuilder/GetMenuBuilder",
            method: "GET",
            success: function (response) {
                var treeData = JSON.parse(response);
                console.log(treeData);
                $('#tree').jstree({
                    'core': {
                        'data': treeData
                    }
                });
            }
        });

    });

</script>