@model IEnumerable<AjaxCleaningHCM.Core.Utils.AccessLog>

@{
    ViewData["Title"] = "Index";

    ViewData["ControllerName"] = "AccessLog";
    ViewData["ActionName"] = "Index";
}

<!-- Default box -->
<div class="card">
    <div class="card-header">
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="table" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatementTaken)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActionDid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FromWhichComputer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserGroup)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FunctionalityType)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    int count = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@(count++)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatementTaken)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActionDid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FromWhichComputer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserGroup)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FunctionalityType)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "iDisplayLength": 8
        });

        @if (ViewBag.SuccessAlertMessage != null)
            {
                <text>
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '@ViewBag.SuccessAlertMessage',
                        showConfirmButton: false,
                        timer: 3000
                    })
                </text>
                 ViewBag.SuccessAlertMessage = null;
            }
            @if (ViewBag.FailureAlertMessage != null)
            {
                <text>
                    Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '@ViewBag.FailureAlertMessage',
                            showConfirmButton: false,
                            timer: 3000
                        })
                </text>
                ViewBag.FailureAlertMessage = null;
            }
    });
    </script>
}