@model AjaxCleaningHCM.Domain.DTO.MasterData.Response.BranchResponseDtos
@{
    Layout = "_Default";
}
<div class="table-responsive">
    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    Name
                </th>
                <th>
                    Code
                </th>
                <th>
                    Address
                </th>
                <th>
                    City
                </th>
                <th>
                    PhysicalLocation
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Description
                </th>
                <th>
                    NumberOfEmployees
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
            }
            @foreach (var item in Model?.BranchDtos?.ToList())
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhysicalLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @item.Employees?.Count()
                    </td>

                    <td>
                        <div class="action-icons">
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye text-info"></i></a> 
                            <span>|</span>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit text-info"></i></a> |
                            <a class="btn" onclick="deleteEntity('Branch','@item.Id')"><i class="fas fa-trash text-danger"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
